.section {
  width: 600px;
}

.onHover {
  background-color: #1c1c21;
}

.constructor {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.constructorWrap {
  max-height: 464px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  overflow-x: hidden;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
}

.price svg {
  width: 36px;
  height: 36px;
}

.text {
  text-align: end;
}
