.modal {
  width: 640px;
  height: fit-content;
  background-color: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04),
    0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2000;
}

.header {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header svg {
  cursor: pointer;
}
