.section {
    width: 600px;
}

.tabWrap {
    display: flex;
}

.container {
    height: 716px;
    overflow-x: hidden;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}